@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Overpass", sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    padding: 20px;
    background-color: indigo;
    color: white;
    text-align: center;
    height: 220px;
}

.card-intro {
    text-align: center;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 10px;
    position: relative;
    top: -50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row-global {
    display: flex;
    flex-wrap: wrap;
}

.card-content {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    flex: 20%;
    text-align: center;
}

footer {
    background-color: indigo;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.row {
    display: flex;
}

.main-content {
    flex: 70%;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
}

.article-card{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 100%;
    text-align: center;
    margin-top: 10px;
}

.input-div {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 80%;
    margin: 10px;
}

.result-div h2 {
    text-align: center;
}

select {
    text-align: center;
    height: 50px;
}

select:focus {
    box-shadow: 0 1px 4px 0 purple;
}

div .case-content {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.case-card {
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.profile {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    flex: 30%;
    text-align: center;
}

.profile img {
    width: 200px;
}

.recovered {
    color: green;
    font-weight: bold;
}

.death {
    color: rgb(207, 8, 8);
    font-weight: bold;
}

.positive {
    color: orange;
    font-weight: bold;
}

blockquote {
    text-align: justify;
}

.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    background-color: #111111;
    z-index: 99;
    text-align: center;
}
  
#loading-image {
    margin: auto;
    opacity: 5;
    z-index: 100;
}

.hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 680px) {
    .case-content {
        flex-direction: column;
        justify-content: center;
    }

    .case-card {
        margin: auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .card-intro {
        top: -30px;
    }
}